<div class="row">
    <div class="col-12  justify-content-center">
        <div class="card w-100 h-100 bg-transparent border-0">
            <div class="card-body ">
                <h2>Bienvenida a tu tablero Irma</h2>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="posibles">
    <div class="col-5">
        <h4>Hay un nuevo evento para organizar:</h4>
        <h5>Cliente:</h5>
        <p>Nombre: <span id="nom"></span></p>
        <p>Teléfono: <span id="tel"></span></p>
        <p>Correo electrónico: <span id="mail"></span></p>
    </div>
    <div class="col-5">
        <h5>Detalles del evento:</h5>
        <p>Tipo de evento: <span id="tipEv"></span></p>
        <p>Fecha: <span id="fechaEvento"></span></p>
        <p>Ciudad: <span id="ciudad"></span></p>
        <p>Tipo de locación: <span id="tipLocacion"></span></p>
        <p>Cermonia: <span id="ceremoniaTipo"></span></p>
        <p>Invitados: <span id="invitados"></span></p>
        <p>Presupuesto: <span id="presupuesto"></span></p>
        <p>Comentarios: <span id="comentariosI"></span></p>        
    </div>
    <div class="col-2">
        <button type="button" class="btn btnGrey" (click)="aceptarEvento()">Aceptar</button>       
    </div>
</div>
<div class="row row-cols-2">
    <div class="col-12  justify-content-center">
        <div class="card w-100 h-100 bg-transparent border-0">
            <div class="card-body ">
                <div class="row">
                    <div class="col">
                        <h3>Información</h3>
                        <div class="row">
                            <div class="col" id="panelInformacionCliente"></div>
                            <div class="col" id="panelInformacionEvento1"></div>
                            <div class="col" id="panelInformacionEvento2"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h3>Detalles</h3>
                        <div class="row" id="infoCeremonia">
                            <div class="col">
                                <h4>Ceremonia</h4>
                            </div>
                        </div>
                        <div class="row" id="infoLocacion">
                            <div class="col">
                                <h4>Locación</h4>
                            </div>
                        </div>
                        <div class="row" id="infoDecoracion">
                            <div class="col">
                                <h4>Decoración</h4>
                            </div>
                        </div>
                        <div class="row" id="infoBanquete">
                            <div class="col">
                                <h4>Banquete y Bebidas</h4>
                            </div>
                        </div>
                        <div class="row" id="infoEntretenimiento">
                            <div class="col">
                                <h4>Entretenimiento</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3>Propuestas</h3>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="categoria">Categoría</label>
                            </div>
                            <div class="form-group col-md-8">
                                <select id="categoria" class="form-control" (change)="opcionSeleccionada()">
                                    <option disabled selected>Selecciona una categoría</option>
                                    <option value="Ceremonia" *ngIf="ceremoniaBand">Ceremonia</option>
                                    <option value="Locación">Locación</option>
                                    <option value="Decoración">Decoración</option>
                                    <option value="Banquete y bebidas">Banquete y bebidas</option>
                                </select>
                            </div>
                        </div>
                        <div id="panelCeremonia">
                            <div class="row" *ngIf="ceremoniaBand">
                                <div class="col">
                                    <h4>Ceremonia</h4>
                                    <div class="form-row">
                                        <div class="form-group col-2">
                                            <label for="nombreCeremonia">Nombre:</label>
                                        </div>
                                        <div class="form-group col-10">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="nombreCeremonia" placeholder="Juzgado Familiar 87">    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-2">
                                            <label for="fotosCeremonia">Fotos:</label>
                                        </div>
                                        <div class="form-group col-10">
                                            <div class="form-group">
                                                <input type="file" class="form-control-file" id="fotosCeremonia" multiple (change)="cargaFotosCeremonia()" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-2">
                                            <label for="direccionCeremonia">Dirección:</label>
                                        </div>
                                        <div class="form-group col-10">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="direccionCeremonia" placeholder="Av. Montevideo 1243, colonia Agraristas. Gustavo A. Madero">    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-2">
                                            <label for="capacidadCeremonia">Capacidad:</label>
                                        </div>
                                        <div class="form-group col-10">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="capacidadCeremonia" placeholder="300 personas">    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-2">
                                            <label for="detallesCeremonia">Detalles:</label>
                                        </div>
                                        <div class="form-group col-10">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="detallesCeremonia" >    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 offset-5 justify-content-center">
                                            <button type="button" class="btn btnGrey" (click)="agregarCeremonia()">Guardar</button>
                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="panelLocacion">
                            <div class="col">
                                <h4>Locación</h4>
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <label for="nombreLocacion">Nombre:</label>
                                    </div>
                                    <div class="form-group col-10">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="nombreLocacion" placeholder="Jardín María Bonita">    
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <label for="fotosLocacion">Fotos:</label>
                                    </div>
                                    <div class="form-group col-8">
                                        <div class="form-group">
                                            <input type="file" class="form-control-file" id="fotosLocacion" multiple (change)="cargaFotosLocacion()" >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <label for="direccionLocacion">Dirección:</label>
                                    </div>
                                    <div class="form-group col-10">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="direccionLocacion" placeholder="Av. Montevideo 1243, colonia Agraristas. Gustavo A. Madero">    
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <label for="capacidadLocacion">Capacidad:</label>
                                    </div>
                                    <div class="form-group col-10">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="capacidadLocacion" placeholder="100 personas">    
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <label for="detallesLocacion1">Detalles:</label>
                                    </div>
                                    <div class="form-group col-10">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="detallesLocacion">    
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 offset-5 justify-content-center">
                                        <button type="button" class="btn btnGrey" (click)="agregarLocacion()">Guardar</button>
                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="panelDecoracion">
                            <div class="col">
                                <h4>Decoración</h4>
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <label for="nombreDecoracion">Nombre:</label>
                                    </div>
                                    <div class="form-group col-10">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="nombreDecoracion" placeholder="La casa de papel">    
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <label for="fotosDecoracion">Fotos:</label>
                                    </div>
                                    <div class="form-group col-10">
                                        <div class="form-group">
                                            <input type="file" class="form-control-file" id="fotosDecoracion" multiple (change)="cargaFotosDecoracion()">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <label for="detallesDecoracion">Detalles:</label>
                                    </div>
                                    <div class="form-group col-10">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="detallesDecoracion">    
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 offset-5 justify-content-center">
                                        <button type="button" class="btn btnGrey" (click)="agregarDecoracion()">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="panelBanquete">
                            <div class="col">
                                <h4>Banquete</h4>
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <label for="nombreMenu">Nombre:</label>
                                    </div>
                                    <div class="form-group col-10">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="nombreMenu" placeholder="Menú infantil 1">    
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <label for="contenidoMenu">Menú:</label>
                                    </div>
                                    <div class="form-group col-10">
                                        <input type="file" id="contenidoMenu" (change)="cargaArchivosMenu()">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 offset-5 justify-content-center">
                                        <button type="button" class="btn btnGrey" (click)="agregarMenu()">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

