<div class="row">
    <div class="col-12  justify-content-center">
        <div class="card w-100 h-100 bg-transparent border-0">
            <div class="card-body ">
                <h2>Locación</h2>
                <p> {{userName}}, con la ubicación que nos proporcionaste encontré estas locaciones para tu {{tipo}}.</p>
                <div class="form-row">
                    <div class="form-group col-3 offset-3 ">
                        <select id="opcionLocacion" class="form-control">
                            <option disabled selected>Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="form-group col-2 offset-1">
                        <button type="button" class="btn btnGrey w-100" (click)="guardarEleccion()">Elegir</button>
                    </div>
                </div>
                <br>
                <div class="row row-cols-3">
                    <div class="col">
                        <div class="card card-option" style="width: 20rem;">
                            <div id="myCarousel1" class="carousel slide card-img-top" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators" id="indicadores1"></ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" id="carrusel1"></div>
                                <!-- Left and right controls -->
                                <a class="carousel-control-prev" href="#myCarousel1" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="carousel-control-next" href="#myCarousel1" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                              </div>
                            <div class="card-body">
                              <h5 class="card-title"><span id="nombreOpcion1"></span></h5>
                              <p class="myText"><span id=capacidadOpcion1></span></p>
                              <p class="myText"><span id=direccionOpcion1></span></p>
                              <p class="myText"><span id=detallesOpcion1></span></p>
                            </div>
                          </div>
                    </div>
                    <div class="col">
                      <div class="card card-option" style="width: 20rem;">
                          <div id="myCarousel2" class="carousel slide card-img-top" data-ride="carousel">
                              <!-- Indicators -->
                              <ol class="carousel-indicators" id="indicadores2"></ol>
                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" id="carrusel2"></div>
                              <!-- Left and right controls -->
                              <a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                            </div>
                          <div class="card-body">
                            <h5 class="card-title"><span id="nombreOpcion2"></span></h5>
                            <p class="myText"><span id=capacidadOpcion2></span></p>
                            <p class="myText"><span id=direccionOpcion2></span></p>
                            <p class="myText"><span id=detallesOpcion2></span></p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                      <div class="card card-option" style="width: 20rem;">
                          <div id="myCarousel3" class="carousel slide card-img-top" data-ride="carousel">
                              <!-- Indicators -->
                              <ol class="carousel-indicators" id="indicadores3"></ol>
                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" id="carrusel3"></div>
                              <!-- Left and right controls -->
                              <a class="carousel-control-prev" href="#myCarousel3" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel3" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                            </div>
                          <div class="card-body">
                            <h5 class="card-title"><span id="nombreOpcion3"></span></h5>
                            <p class="myText"><span id=capacidadOpcion3></span></p>
                            <p class="myText"><span id=direccionOpcion3></span></p>
                            <p class="myText"><span id=detallesOpcion3></span></p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>

