<div class="row">
  <div class="col-2">
    <div class="btn-group-vertical btn-group-lg">
      <button class="btn btn-bar rounded-0" (click)="inicio()" id="btnInicio">Inicio</button>
      <button class="btn btn-bar rounded-0" (click)="ceremonia()" id="btnCeremonia">Ceremonia</button>
      <button class="btn btn-bar rounded-0" (click)="locacion()" id="btnLocacion">Locación</button>
      <button class="btn btn-bar rounded-0" (click)="decoracion()" id="btnDecoracion">Decoración</button>
      <button class="btn btn-bar rounded-0" (click)="banquete()" id="btnBanquete">Banquete y bebidas</button>
      <button class="btn btn-bar rounded-0" (click)="entretenimiento()" id="btnEntretenimiento">Entretenimiento</button>
      <!--
      <button class="btn btn-bar rounded-0" (click)="extras()" id="btnExtras">Extras</button>
      -->
    </div>
  </div>
  <div class="col-10">
    <app-pantalla-inicio *ngIf="dispInicio" [userName]="userName" [orgName]="orgName" [userKey]="userKey" [orgKey]="orgKey" [actual]="actual"></app-pantalla-inicio>
    <app-ceremonia *ngIf="dispCeremonia" [userName]="userName" [orgName]="orgName" [userKey]="userKey" [orgKey]="orgKey" [actual]="actual"></app-ceremonia>
    <app-locacion *ngIf="dispLocacion" [userName]="userName" [orgName]="orgName" [userKey]="userKey" [orgKey]="orgKey" [actual]="actual"></app-locacion>
    <app-decoracion *ngIf="dispDecoracion" [userName]="userName" [orgName]="orgName" [userKey]="userKey" [orgKey]="orgKey" [actual]="actual"></app-decoracion>
    <app-banquete *ngIf="dispBanquete" [userName]="userName" [orgName]="orgName" [userKey]="userKey" [orgKey]="orgKey" [actual]="actual"></app-banquete>
    <app-entretenimiento *ngIf="dispEntretenimiento" [userName]="userName" [orgName]="orgName" [userKey]="userKey" [orgKey]="orgKey" [actual]="actual"></app-entretenimiento>
    <app-extras *ngIf="dispExtras" [userName]="userName" [orgName]="orgName" [userKey]="userKey" [orgKey]="orgKey" [actual]="actual"></app-extras>
  </div>
  
</div>