<div class="row">
  <div class="col-2">
    <div class="btn-group-vertical btn-group-lg">
      <button class="btn btn-bar rounded-0" (click)="inicio()" id="btnInicio">Inicio</button>
      <button class="btn btn-bar rounded-0" (click)="ceremonia()" id="btnCeremonia">Ceremonia</button>
      <button class="btn btn-bar rounded-0" (click)="locacion()" id="btnLocacion">Locación</button>
      <button class="btn btn-bar rounded-0" (click)="decoracion()" id="btnDecoracion">Decoración</button>
      <button class="btn btn-bar rounded-0" (click)="banquete()" id="btnBanquete">Banquetes y bebidas</button>
      <button class="btn btn-bar rounded-0" (click)="entretenimiento()" id="btnEntretenimiento">Entretenimiento</button>
      <button class="btn btn-bar rounded-0" (click)="extras()" id="btnExtras">Extras</button>
    </div>
  </div>
  <div class="col-10">
    <app-pantalla-inicio *ngIf="dispInicio"></app-pantalla-inicio>
    <app-ceremonia *ngIf="dispCeremonia"></app-ceremonia>
    <app-locacion *ngIf="dispLocacion"></app-locacion>
    <app-decoracion *ngIf="dispDecoracion"></app-decoracion>
    <app-banquete *ngIf="dispBanquete"></app-banquete>
    <app-entretenimiento *ngIf="dispEntretenimiento"></app-entretenimiento>
    <app-extras *ngIf="dispExtras"></app-extras>
  </div>
  
</div>