
  <div class="row header">    
      <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 d-flex justify-content-center">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="..">
                <img alt="" src="https://firebasestorage.googleapis.com/v0/b/tesita-6885a.appspot.com/o/RedesSociales%2FLogo10.png?alt=media&token=8d05b8cd-c821-475a-a043-f713be334813" width="130" >
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 d-flex justify-content-center">
        <h1 class="titulo" style="text-align:center !important;">¡La fiesta es para disfrutar!</h1>
      </div>
      <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 d-flex justify-content-center ingresar">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link ingresar" routerLink="/about" routerLinkActive="active">Sobre nosotros</a>
          </li>
          <li class="nav-item" *ngIf="!in">
            <a class="nav-link ingresar"  routerLink="/login" (click)="login()">Ingresar</a>
          </li>
          <li class="nav-item" *ngIf="in">
            <a class="nav-link ingresar"  routerLink="/principal" (click)="logout()">Cerrar sesión</a>
          </li>
        </ul>
      </div>  
  </div>
  <div class="row cuerpo">
    <router-outlet class="w-100"></router-outlet>
  </div>
  <div class="row footer">
    <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6 justify-content-center">
        <h5>Contáctanos</h5>
        <P>55 18 42 58 24 <br> informacion@lafete.com</P>
    </div>
    <div class="col-md-8 col-lg-8 justify-content-center"></div>
    <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6 justify-content-center" >
      <p style="margin-top: 10px;">Nuestras redes sociales</p>
      <a href="#facebook">
        <img alt="imagen html de ejemplo" src="https://firebasestorage.googleapis.com/v0/b/tesita-6885a.appspot.com/o/RedesSociales%2Ffacebook.svg?alt=media&token=7a2986b4-3308-41f3-833f-9c2a065a677c" width="30" height="30" style="border: 0px; margin-right: 15px;" />
      </a>
      <a href="#twitter">
        <img alt="imagen html de ejemplo" src="https://firebasestorage.googleapis.com/v0/b/tesita-6885a.appspot.com/o/RedesSociales%2Fgorjeo.svg?alt=media&token=689ce134-6ba9-4cdd-b8cd-c26efdbf1979" width="30" height="30" style="border: 0px; margin-right: 15px;" />
      </a>
      <a href="https://www.instagram.com/arlettadm/" target="_blank">
        <img alt="imagen html de ejemplo" src="https://firebasestorage.googleapis.com/v0/b/tesita-6885a.appspot.com/o/RedesSociales%2Finstagram.svg?alt=media&token=53579345-4f61-42eb-af87-441ceb078544" width="30" height="30" style="border: 0px; margin-right: 15px;" />
      </a>
      <a href="#whatsapp">
        <img alt="imagen html de ejemplo" src="https://firebasestorage.googleapis.com/v0/b/tesita-6885a.appspot.com/o/RedesSociales%2Fwhatsapp.svg?alt=media&token=15de5639-b78b-46f0-b3cc-f68a6af0e295" width="30" height="30" style="border: 0px; margin-right: 0px;" />
      </a>

    </div>
  </div>
  <div class="row footer" >
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 justify-content-center" style="text-align: center; margin-top: 15px;" >
      <p> Derechos reservados a La fête!</p>
    </div>
  </div>
