<div class="row">
    <div class="col-md-8 col-lg-8 justify-content-center">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" id="indicadores">
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner" id="carrusel">
                
            </div>
        
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
    </div>
    <div class="col-md-4 col-lg-4 justify-content-center" style="text-align: center; ">
        <div class="card w-100 h-100 bg-transparent border-0 pt-4">
            <div class="card-body m-t-3">
                <h1>¡Haz tu evento con nosotros!</h1>
                <h4>Cuéntanos qué tienes en mente y te haremos una propuesta a tu medida</h4>
                <br>
                <button type="button" class="btn btnGrey" routerLink="/formularioInicial" routerLinkActive="active">Empezar proceso</button>
            </div>
          </div>
    </div>
    
</div>