<div class="row">
    <div class="col-lg-12">
        <div class="card w-100 h-100 bg-transparent border-0">
            <div class="card-body ">
                <h2>¡{{bienvenido}} {{userName}}!</h2>
                <p> Hola, soy  {{organizador}} y estaré a cargo de la organización de tu evento.
                    <br> <br>
                    En las pestañas de Ceremonia y Locación encontrarás algunas propuestas que
                    cree a partir de la información que proporcionaste en tu cuestionario inicial.
                    En el resto de las pestañas encontrarás algunas preguntas extras que me 
                    ayudarán a crear propuestas para el resto de los detalles del evento.
                    <br> <br>
                    Para cualquier duda que tengas al respecto puedes contactarte conmigo
                    por WhatsApp. Sin embargo, las decisiones y propuestas se tomarán siempre
                    a través de esta plataforma.
                    <br> <br>
                    ¡Recuerda que estoy aquí para crear el evento de tus sueños!
                </p>
            </div>
          </div>
    </div>
</div>
