<div class="row">
    <div class="col-12  justify-content-center">
        <div class="card w-100 h-100 bg-transparent border-0">
            <div class="card-body ">
                <h2>Entretenimiento</h2>
                <p>{{userName}}, algo que no puede faltar en tu evento es la música. La ambientación en los distintos momentos del evento es importante. Elige para cada momento el tipo de música de tu preferencia:</p>
                <div class="row">
                    <div class="col-6 offset-3">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="musicaCeremonia">Ceremonia</label>
                            </div>
                            <div class="form-group col-md-8">
                                <select id="musicaCeremonia" class="form-control">
                                    <option disabled selected>Selecciona un número de tiempos</option>
                                    <option value="DJ">DJ</option>
                                    <option value="Conjunto en vivo">Conjunto en vivo</option>
                                    <option value="Coro">Coro</option>
                                    <option value="Conjunto de violines">Conjunto de violines</option>
                                    <option value="Otro">Otro</option>
                                    <option value="Lista de Spotify">Lista de Spotify</option>
                                    <option value="Lista de Apple Music">Lista de Apple Music</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="musicaEntrada">Entrada</label>
                            </div>
                            <div class="form-group col-md-8">
                                <select id="musicaEntrada" class="form-control">
                                    <option disabled selected>Selecciona un número de tiempos</option>
                                    <option value="DJ">DJ</option>
                                    <option value="Conjunto en vivo">Conjunto en vivo</option>
                                    <option value="Coro">Coro</option>
                                    <option value="Conjunto de violines">Conjunto de violines</option>
                                    <option value="Otro">Otro</option>
                                    <option value="Lista de Spotify">Lista de Spotify</option>
                                    <option value="Lista de Apple Music">Lista de Apple Music</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="musicaComida">Comida</label>
                            </div>
                            <div class="form-group col-md-8">
                                <select id="musicaComida" class="form-control">
                                    <option disabled selected>Selecciona un número de tiempos</option>
                                    <option value="DJ">DJ</option>
                                    <option value="Conjunto en vivo">Conjunto en vivo</option>
                                    <option value="Coro">Coro</option>
                                    <option value="Conjunto de violines">Conjunto de violines</option>
                                    <option value="Otro">Otro</option>
                                    <option value="Lista de Spotify">Lista de Spotify</option>
                                    <option value="Lista de Apple Music">Lista de Apple Music</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="musicaBaile">Baile</label>
                            </div>
                            <div class="form-group col-md-8">
                                <select id="musicaBaile" class="form-control">
                                    <option disabled selected>Selecciona un número de tiempos</option>
                                    <option value="DJ">DJ</option>
                                    <option value="Conjunto en vivo">Conjunto en vivo</option>
                                    <option value="Coro">Coro</option>
                                    <option value="Conjunto de violines">Conjunto de violines</option>
                                    <option value="Otro">Otro</option>
                                    <option value="Lista de Spotify">Lista de Spotify</option>
                                    <option value="Lista de Apple Music">Lista de Apple Music</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 offset-6">
                        <button type="button" class="btn btnGrey" (click)="guardarInformacion()">Guardar todo</button>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>

